<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

	<IfModule mod_mime.c>
		AddType image/x-icon .ico
	</IfModule>

    RewriteEngine On

    RewriteBase /platypus

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /platypus/$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
